APP_STAGE=development

APP_NAME=PokemonAPI
APP_URL=0.0.0.0:3000
APP_BODY_LIMIT=10M

# POKEMON_BASE_URL=http://localhost:8802
POKEMON_BASE_URL=https://pokeapi.co/api/v2

JWT_ACCESS_SECRET_KEY=tokensecret
JWT_ACCESS_DURATION=3600

DEFAULT_CACHE_DURATION=600
CLEANUP_CACHE_INTERVAL=60
